@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text&family=Cousine&display=swap');

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Cousine', monospace;
}

.titleAndImgContainer {
  position: fixed;
  top: 0;
  left: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    font-family: 'Big Shoulders Stencil Text', cursive;
    color: rgb(163, 234, 110);
    margin-top: 17px;
    margin-bottom: 5px;
    font-size: 2.8rem;
    border-bottom: 2px dotted rgb(163, 234, 110);
  }

  img {
    width: 80px;
  }
}

.scores-wrapper {
  color: white;
  max-width: 400px;
}

#game-board {
  background-color: #ccc;
  display: grid;
  grid-template-columns: repeat(21, 1fr);
  grid-template-rows: repeat(21, 1fr);
  height: 70vmin;
  width: 70vmin;
  margin-right: 40px;

  @media only screen and (max-width: 1000px) {
    margin-right: 0;
  }
}

.snake {
  background-color: rgb(19, 219, 46);
  border: 0.25vmin solid black;
}

.food {
  background-color: rgb(241, 28, 230);
  border: 0.25vmin solid black;
}

#leaderboard {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  max-height: 70vh;

  h2 {
    margin-top: 40px;
    margin-bottom: 10px;
    color: white;
  }

  table {
    overflow-y: scroll;
  }
}

th,
td {
  border-bottom: 0.5px solid #ccc;
  padding: 5px;
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  input {
    width: 80%;
    padding: 7px;
    margin-top: 13px;
    border-radius: 10px;
    border: none;
  }

  input[type='submit'] {
    width: 83%;
    font-size: 1.1rem;
  }

  label {
    color: #fff;
    width: 80%;
  }

  .invalid-name-error {
    color: rgb(255, 108, 108);
    margin-top: 7px;
  }
}

footer {
  color: rgb(221, 221, 221);
  position: fixed;
  bottom: 4px;
  width: 95%;
  text-align: center;

  a {
    color: rgb(163, 234, 110);
  }
}
